{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div>
        <form>
            <input type="text" name="movie_query"  class="form_control" placeholder='Search for a Movie'>
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>

  <!--Popular movie-->
  <div>
    <h3> Popular Movies</h3>
    <ul>
        {{ macro.displayMovieList(popular)}}
    </ul>
  </div>

  <div>
    <h3> Upcoming Movies </h3>
    <ul>
        {{ macro.displayMovieList(upcoming)}}
    </ul>
  </div>

  <div>
    <h3>Now Showing</h3>
    <ul>
        {{ macro.displayMovieList(now_showing)}}
    </ul> 
  </div>

{% endblock %}
